<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta name="description" content="A Forums App.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,Python,Django">
        <meta name="author" content="Ashwin Joshi, ashwin.joshi12@live.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="AVJ Forums"/>
        <meta property="og:url" content="" />
        <meta property="og:description" content="">
        <meta property="og:image" content="{% static 'articles/images/icon.png' %}">
        <link rel="shortcut icon" href="{% static 'articles/images/icon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="{% static 'registration/css/login.css'%}">
        <title>AVJ Forums Login/Registration</title>
    </head>
    <body>
        <div class="content">
           {% block content %}
           {% endblock %}
        </div>
    </body>
</html>