{% extends 'articles/base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}
<div class="card card-container">
    <h3>Login</h3>
    <hr>
    <form class="form-horizontal" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        {# render hidden fields here #}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {# render errors here #}
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group has-feedback">
            {% render_field form.username class="form-control" placeholder="Username" %}
            {% if form.username.help_text %}
                <small class="text-muted">{{ form.username.help_text }}</small>
            {% endif %}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div id="password-div" class="form-group has-feedback">
            {% render_field form.password class="form-control" placeholder="Password" %}
            {% if form.password1.help_text %}
                <small class="text-muted">{{ form.password1.help_text|safe }}</small>
            {% endif %}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <div class="form-group">
            <input type="submit" name="login" id="login-btn" value="Sign-in" class="btn btn-success">
            <input type="button" name="cancel" value="Cancel" class="btn btn-primary" onclick="location.href='/'">
        </div>
    </form><!-- /form -->
</div><!-- /card-container -->
{% endblock %}