{% extends 'articles/base.html' %}
{% block content %}
    {% for article in article_list %}
    <div class="container clearfix">
        <article>
            <a href="{{ article.url }}" target="_blank">
                <h4>{{ article.title }}</h4>
            </a>
            <time datetime="{{ article.created|date:"c" }}">
            &bull; {{ article.created|date }}
            </time>
            <blockquote>
                <p>{{ article.description }} </p>
            <!--<footer>{{ article.author }} </footer>-->
            </blockquote>   
        </article>
    </div>
    {% endfor %}
{% endblock %}